/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

* {
  font-family: 'Arial' !important;
}

.contentContainer {
  margin: 8px auto;
  padding: 16px;
}

.idItem {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  border-color: var(--tigm-border-color);
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  text-align: center;
  padding-top: 6px;
}

.pageButton {
  margin-top: 15px;
  margin-left: 8px;
  --background-activated: var(--tigm-button-activated-color);
  --border-style: solid;
  --border-width: 2px;
  --border-color: var(--tigm-border-color);
  --border-radius: 4px;
  --color: var(--tigm-button-background-color);
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  min-height: 30px;
  height: 30px;
}

.nextPageButton {
  float: right;
  margin-right: 8px;
}

.pageFooter {
  height: 80px;
}

.nextStepButton {
  float: right;
  margin-top: 15px;
  margin-right: 8px;
  --background: var(--tigm-button-background-color);
  --background-activated: var(--tigm-button-activated-color);
  --color: white;
  text-transform: none;
  font-size: 16px;
  min-width: 160px;
  width: 180px;
  min-height: 35px;
  height: 35px;
}
/** Ionic CSS Variables **/
:root {
  --tigm-background-color: #FFFFFF;
  --tigm-border-color: #262629;
  --tigm-border-color-checked: #FFFFFF;
  --tigm-button-background-color: #262629;
  --tigm-button-activated-color: #464649;
  --tigm-checkbox-background-activated-color: #FFFFFF;
}

.ios {
  --ion-safe-area-top: 40px;
  --ion-safe-area-bottom: 44px;
  --ion-safe-area-right: 0px;
  --ion-safe-area-left: 0px;

  --ion-text-color: #262629;
}

.md {
  --ion-text-color: #262629;
}